.hidden {
    display: none;
}

.deviceContainer {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;

    .deviceTrayOptions {
        width: 87%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .deviceAction {
            cursor: pointer;
            font-size: 18px
        }

        .deleteIcon {
            color: red;
        }

        .addToWorkspaceIcon {
            color: green;
        }
    }

    img {
        height: 130px;
        border: 0;
        pointer-events: none;
    }

    svg {
        // pointer-events: none;
    }
}