.devicesListContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    border-top: 3px solid gray;

    .openAddDeviceFormButton {
        position: relative;
        bottom: -60px;
        right: -375px;
        background-color: gray;
        border-radius: 2px;
        border-radius: 25px;
        padding: 10px;
  
        svg {
          font-size: 25px;
        }
      }
}