.devicesListContainer {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 100%;
    border-top: 3px solid gray;
}