.addDeviceContainer {
    width: 90%;
    position: absolute;
    top: 100px;

    .deviceSearchBox {
        width: 98%;
        height: 50px;
        font-size: 30px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .addDeviceForm {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: auto;
        padding: 50px;
    }
}